WebServices/WS-4-WCF-Homework/StringAnalyzerClient/Service References/StringAnalyzerServiceRefference/StringAnalyzer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CountSecondStringOccurancesInFirstString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="second" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSecondStringOccurancesInFirstStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountSecondStringOccurancesInFirstStringResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>